nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: #000c;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav_logo {
  width: 40px;
  height: 40px;
  background-image: url('https://w7.pngwing.com/pngs/277/446/png-transparent-rick-and-morty-illustratrion-rick-sanchez-morty-smith-rick-and-morty-season-1-television-show-youtube-rick-and-morty-television-logo-computer-wallpaper-thumbnail.png');
  background-size: cover;
  border-radius: 50%;
  margin: 0 12px;
}

.nav_link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.nav_link-item {
  color: #888;
  text-decoration: none;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  &:hover {
    color: #fff;
    background-color: #333;
  }
}
.nav_link-active {
  color: #f00;
  user-select: none;
  pointer-events: none;
  background-color: #000;
}
// --------------------------------------------------------------
header {
  height: 30vh;
  width: 100%;
  background-image: url(https://hips.hearstapps.com/es.h-cdn.co/fotoes/images/series-television/11-cosas-que-no-sabias-de-rick-y-morty/rick-morty-breaking-bad/137666528-1-esl-ES/rick-morty-breaking-bad.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.header_container {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_title-container {
  background-color: #0005;
  height: 32%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  p {
    background-image: url(https://occ-0-1068-1722.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABVK-867iNzC3GeSiDQJ7jasFpdN4ySy2Of17S2KxaxbOOtsqax_k_ldd_f5TiDeulU3_lyJmIjtBgPVKLnE1cUK-kRk9yZsO4MXA.png);
    width: 200px;
    height: 100%;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 12px;
  }
  span {
    position: relative;
    padding: 0 8px;
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 3px #000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
  }
  div {
    background-color: #fff3;
    position: relative;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    &::before {
      content: '';
      position: absolute;
      background-image: url(https://static-00.iconduck.com/assets.00/react-router-icon-512x279-zswz065s.png);
      height: 70px;
      width: 70px;
      background-size: 85%;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 100;
    }
  }
}
